@import '../../global.scss';

li {
    font-size: 25px;
    margin-right: 60px;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;

    &.active {
        background-color: $mainColor;
        color: white;
    }
}